# BROWSERS 
BraveSoftware/
microsoft-edge/
Microsoft/
'Microsoft Teams - Preview'/
teams/
google-chrome/
thorium-flags.conf

# HEAVY APPS & CACHE 
cava/
heroic/
Upscayl/           
libreoffice/       
vlc/               
rstudio/           
github-copilot/     
nuclei/             
yay/                
rstudio/
nuclei/
libreoffice/
GIMP/
Pinta/
kmenueditrc
kritadisplayrc
kritarc
Todoist/
Code/
Code - OSS/
# DEV TOOLS 
go/                
flutter/           
nextjs-nodejs/      
systemd/            
session/            
pulse/              
wireplumber/        
Antigravity/

# NESTED GIT REPOS 
nvim/pack/github/start/copilot.vim

# STANDARD JUNK
*.log
*.tmp
*.lock
**/Cache/
**/CachedData/
# SECRETS & TOKENS 
github-copilot/
Antigravity/
Upscayl/

# MISC
session/
kiorc
okuralrc
gwenviewrc

