# BROWSERS 
BraveSoftware/
microsoft-edge/
Microsoft/
'Microsoft Teams - Preview'/
teams/
google-chrome/
thorium-flags.conf

# HEAVY APPS & CACHE 
wireshark/
cava/
heroic/
Upscayl/           
libreoffice/       
vlc/               
rstudio/           
github-copilot/     
nuclei/             
yay/                
rstudio/
nuclei/
libreoffice/
GIMP/
Pinta/
kmenueditrc
kritadisplayrc
kritarc
Todoist/
Code/
Code - OSS/
vlc/
pulse/
htop/
neofetch/
haruna/
mpv/
qalculate/ 
gpick/
guvcview2/
.node_repl_history_meta/
Cursor/
cursor/
git/
google-chrome-for-testing/

# DEV TOOLS 
go/                
flutter/           
nextjs-nodejs/      
systemd/                      
pulse/              
wireplumber/        
Antigravity/

# NESTED GIT REPOS 
nvim/pack/github/start/copilot.vim

# STANDARD JUNK
*.log
*.tmp
*.lock
**/Cache/
**/CachedData/
# SECRETS & TOKENS 
github-copilot/
Antigravity/
Upscayl/

# MISC
session/
kiorc
okularrc
gwenviewrc
kwinrc 
plasmashellrc
plasma-org.kde.plasma.desktop-appletsrc
plasma-localerc
kactivitymanagerdrc
kactivitymanagerd-statsrc 
powermanagementprofilesrc 
ktimezonedrc 
baloofilerc 
Trolltech.conf
baloofileinformationrc 
kate/externaltools/
kde-material-you-colors/
pypoetry/
dconf/
autostart/
